.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.2rem;
}

.control label {
  display: block;
  color: #000;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #c8c7c8;
  color: #100f11;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.action {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action button {
  width: 100%;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #5caacc;
  border: 1px solid #5ccca5;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  margin-top: 1rem;
}

.action button:hover {
  background-color: #3a3ebb;
  border-color: #09176f;
}
